// Variables

$font-size-lg:     18px !default;
$font-size-default: 12px !default;
$font-size-md:     14px !default;
$font-size-xs:     12px !default;
$wht:              #fff;
$blk:              #000;
$accent:           #3ac8ff;

$grad : linear-gradient(45deg, #0f1d3d);
$gradh: linear-gradient(45deg, darken($accent,10), $accent);
