/*
@include respond-to(handhelds) {  }
@include respond-to(tablets) {  }
@include respond-to(medium-screens) {  }
@include respond-to(wide-screens) {  }
*/
html {
  font-size: 12px;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  position: relative;
  min-height: 100vh;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  background-color: #0d192c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    body {
      padding-bottom: 0; } }

li {
  list-style: none; }

a {
  text-decoraton: none; }

.wrapper {
  max-width: 990px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@keyframes move {
  from {
    background: linear-gradient(#225e0a 20%, #338e0f 54%, #28720c 50%); }
  to {
    background: radial-gradient(circle at bottom, #99d801, #4fa705 50%); } }

.button {
  padding: 9px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 1px black;
  color: #fff;
  border: 3px double #020210;
  font-family: Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  max-width: 185px;
  margin: 0 auto;
  border-radius: 0.3em;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-iteration-count: 2, 0, infinite; */
  background: linear-gradient(#225e0a 20%, #338e0f 54%, #28720c 50%);
  -webkit-box-shadow: -3px 1px 58px -5px rgba(21, 40, 85, 0.68);
  -moz-box-shadow: -3px 1px 58px -5px rgba(21, 40, 85, 0.68);
  box-shadow: -3px 1px 58px -5px rgba(21, 40, 85, 0.68); }
  .button:before {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: -webkit-linear-gradient(#020611, #010d28);
    background: -o-linear-gradient(#020611, #010d28);
    background: linear-gradient(#020611, #010d28);
    content: '';
    z-index: -1;
    display: block;
    border-radius: 50%; }

.pagination {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 3px;
  display: flex;
  align-items: center;
  /* background-image: repeating-linear-gradient(135deg, #2e394b, #192A3C 10px, #1A2237 12px, #2e394b 20px
  ); */
  /* background-image: repeating-linear-gradient(135deg, #192A3C,#192A3C 12px, #1A2237 12px, #1A2237 20px); */
  background-image: repeating-linear-gradient(-45deg, #667285, #667285, #60687d 15px, #50586e 10px);
  border-radius: 23px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
  /* .page-item {
        display: inline-block;
        list-style: none;
        text-align: center;
        margin: 0 2px;

        a {
          display: block;
          width: 24px;
          height: 24px;
          font-size: 18px;
          font-family: 'Helvetica', sans-serif;
          position: relative;
          border: 4px solid transparent;
          //padding: 3px;
          background-color: #fff;
          text-align: center;
          text-decoration: none;
          color: #252525;
          border-radius: 50%;
          /* margin: 5px; */
  /* box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
          transition: all .3s ease;
          &:hover,
          &.active {
            color: #fff;
            background-color: #101f43;
          }
        }
    }
  } */ }
  .pagination .window {
    width: 90px;
    overflow: hidden;
    border-radius: 25px;
    padding: 3px 0; }
  .pagination .slide {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    transition: margin-left 0.5s ease; }
    .pagination .slide .page-item {
      display: inline-block;
      list-style: none;
      text-align: center;
      margin: 0 3px; }
      .pagination .slide .page-item a {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        border: 2px solid transparent;
        border-radius: 50%;
        background: linear-gradient(#00173d, #002450);
        background-clip: padding-box;
        /* padding: 3px; */
        text-align: center;
        text-decoration: none;
        color: #256990;
        font-family: 'Helvetica', sans-serif;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        text-shadow: black 0 3px 2px;
        box-shadow: black 0 3px 6px;
        transition: all .3s ease; }
        .pagination .slide .page-item a:before {
          position: absolute;
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          background: -webkit-linear-gradient(#020611, #010d28);
          background: -o-linear-gradient(#020611, #010d28);
          background: linear-gradient(#020611, #010d28);
          content: '';
          z-index: -1;
          display: block;
          border-radius: 50%; }
        .pagination .slide .page-item a:after {
          position: absolute;
          top: -2px;
          bottom: -2px;
          left: -2px;
          right: -2px;
          background: linear-gradient(#001c44, #002b58);
          content: '';
          display: block;
          z-index: -1;
          border-radius: 50%; }
        .pagination .slide .page-item a:hover, .pagination .slide .page-item a.active {
          color: #fff;
          background: linear-gradient(#058600, #0b5200);
          background-clip: padding-box; }
          .pagination .slide .page-item a:hover:after, .pagination .slide .page-item a.active:after {
            background: -webkit-linear-gradient(circle at bottom, #99d801, #54ab05 50%);
            background: -o-linear-gradient(circle at bottom, #99d801, #54ab05 50%);
            background: radial-gradient(circle at bottom, #99d801, #54ab05 50%); }
  .pagination .nav-btn {
    display: inline-block;
    font-family: FontAwesome\ 5 Free;
    width: 24px;
    height: 24px;
    padding: 3px;
    background: linear-gradient(#00173d, #002450);
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 50%;
    margin: 0 2px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    z-index: 0; }
    .pagination .nav-btn.prev {
      /* background-image: url('../img/prev.gif');
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1; */ }
      .pagination .nav-btn.prev:before {
        content: "\f053";
        display: block; }
    .pagination .nav-btn.next {
      /* background-image: url('../img/next.gif');
      background-position: center;
      background-repeat: no-repeat; */ }
      .pagination .nav-btn.next:before {
        content: "\f054";
        display: block; }

.select-name {
  font-size: 24px;
  display: flex;
  margin-top: 20px; }
  .select-name span {
    font-size: 24px;
    color: #fff; }
